*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 20px 0;
}

header .store img{
    float: left;
    position: absolute;
    width: 150px;
    height: 40px;
    left: 20px;
    top: 20px;
}

header nav{
    float: right;
}

header nav ul{
    padding: 3px 0;
    list-style-type: none;
}

header nav ul li{
    float: left;
    font-size: 14px;
    margin: 0 20px;
}

header ul a{
    text-decoration: none;
}

.search{
    margin: 0 50px;
}

.logo{
    width: 100%;
    text-align: center;
    font-size: 32px;
    top: 65px;
}

.age{
    color: #D5A368;
}

.one nav li{
    float: left;
    padding:0 20px;

}

.one nav ul{
    list-style-type: none;
    padding-top: 15px;
}

.one nav{ 
    display: flex;
    justify-content: center;  
    align-items: center;

}

.one li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;    
    
}

.principal{
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 220px;
    font-size: 8px;
    left: 41px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.principal h2:hover{
    
}

.vertical{
    position: absolute;
    left: -17px;
    width: 120px;
    height: 2px;
    top: 420px;
    background: #D5A368;
    transform: rotate(-90deg);
}

.text1{
    position: absolute;
    left: -25px;
    top: 580px;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 21px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #333333;
    transform: rotate(-90deg);
}

.banner{
    float: right;
    width: 93%;
    height: 655px;
    margin-top: 10px;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.text2{
    position: absolute;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    height: 107px;
    left: 181px;
    padding-top: 450px;
    font-size: 39px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    z-index: 1;
    order:2;
    float: right;
    margin-right: -34px;
    width: 100%;
    height: auto;
    background-image: url(../image/image5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item-2-mosaico{
    z-index: -2;
    width: 150%;
    height: 700px;
    margin-top: -100px;
    background: #F9EFE4;
    padding: 250px 110px;
    margin-left: -35px;
}

.item-2-mosaico h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.1em;
    color: #000000;
}

.item-2-mosaico p{
    padding-top: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #000000;
}

.item-2-mosaico h3{
    font-weight: bold; 
    margin-top: 40px;
}

.item-2-mosaico h3:hover{
   color: #D5A368;
}


section.three div.container{
    background-color: #E5E5E5;
    padding: 100px 0 100px 0;
}


section.three h2{
    width: 100%;
    text-align: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.1em;
    color: #D5A368;
}

section.three p{
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #000000;
}

section.three h3{
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 20px;
}

.see2{
    cursor: pointer;
    font-weight: bold;  
}

.see2:hover{
   color: #D5A368;
}

.item-11-mosaico{
    float: right;    
    margin-left: -35px;
    width: 100%;
    height: auto;
    background-image: url(../image/image6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item-22-mosaico{
    width: 100%;
    height: 900px;
    background: #472138;
    padding: 250px 190px;
    margin-right: -34px;
}

.item-22-mosaico h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.1em;
    color: #D5A368;
}

.item-22-mosaico p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.item-22-mosaico h3{
    margin-top: 40px;
    color: #FFFFFF;
}

.item-2-mosaico h3:hover{
   color: #D5A368;
}

.item-222-mosaico{   
    border-top: 15px solid white;
    border-left: 15px solid white;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
    text-align: center;
    margin-left: -35px;
    color: #000000;
    width: 120%;
    height: 560px;
    margin-top:;
    background-image: url(../image/image7.png);
    background-repeat: no-repeat;
    background-position: center;
}

.item-111-mosaico{
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
    order: 2;
    margin-right: -34px;
    margin-top: 0px;
    width: 59%;
    height: 560px;
    background-image: url(../image/image8.png);
    background-repeat: no-repeat;
    background-position: center;  
}

.item-222-mosaico h2{
    font-family: Playfair Display;
    padding-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.item-222-mosaico p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    padding-top: 190px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.item-222-mosaico h3{
    margin-top: 40px;
    color: #FFFFFF;
}

.section-1{
    padding:90px 2%;
    background-color: white;
}

.section-1 p{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
}

.section-1 h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
    color: #472138;
    margin-top: 10px;
}

.container-section{
    margin-top:40px;
    text-align: center;
}

.container-single{
    float: left;
    width: 33.3333%;
    padding:25px;
}

.container-single p{
    font-family: Raleway;
    width: 100%;
    font-style: normal;
    font-weight: normal
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    padding:10px;
}

.container-single img{
    width: 300px;
}

.item-11-mosaico1{
    order:2;
    margin-top: 100px;
    margin-left: -50px;
    width: 100%;
    height: auto;
    margin-bottom: -70px;
    background-image: url(../image/image12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item-22-mosaico1{
    width: 150%;
    height: 700px;
    margin-right: -65%;
    background: #D5A368;
    padding: 250px 110px;
    margin-left: -35px;
}

.item-22-mosaico1 h2{
    z-index: 10;
    position: absolute;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: -80px;
}

.item-22-mosaico1 p{
    padding-top: 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #000000;
}

.item-22-mosaico1 h3{
    z-index: 10;
    font-weight: bold; 
    margin-top: 40px;
}

.section-2{
    padding:90px 2%;
    background-color: white;
}

.section-2 p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
    margin-top: 120px;
}

.text4 p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
     text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
}

.text4 h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #D5A368;
}


.container-section2 h2{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #D5A368;
    padding: 20px;
}

.container-section2{
    margin-top:40px;
    text-align: center;
}

.container-single2{
    float: left;
    width: 33.3333%;
    padding:25px;
}

.container-section2 p{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    margin-top: -10px;
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    padding-left: 20px;
    letter-spacing: 0.25em;
}

.container-single2 img{
    width: 400px;
    z-index: -1;
}

.text-container-single2{
    z-index: 1;
    position: absolute;
    float:left;
    margin-top: -70px;
    margin-left: 40px;
    width: 360px;
    height: 176px;
    background: #FFFFFF;;

}